/* Cursor pointer on hover for list items */
li:hover {
  cursor: pointer;
  font-weight: bold;
}

li {
  transition: 0.2s;
}

/* Transition effect for buttons */
button {
  transition: all 0.4s ease;
}

/* Hover effect for buttons */
button:hover {
  transform: scale(1.2); /* Scales the button */
  box-shadow: 2px 7px 10px rgba(0, 0, 0, 0.4); /* Adds shadow */
  background-color: blue;
}


